{% extends "base.html" %}
{% block title %}Housing Prices{% endblock %}
{% block import %}
    <link rel="stylesheet" href="static/css/house.css">
    <link rel="icon" class="tab-icon" href='static/img/icon.svg'>
{% endblock %}
{% block body %}
    <div class="principal">
        <div class="principal-esquerda">
            <iframe class="map" src="/map" width='100%' height='100%'></iframe>
        </div>
        <div class="principal-direita">
            <h1>Predict the price of your house!</h1>
        </div>

    </div>
{% endblock %}