<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_485b9574ff624b6486851bc61c2f071e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_485b9574ff624b6486851bc61c2f071e" ></div>
        
</body>
<script>    
    
            var map_485b9574ff624b6486851bc61c2f071e = L.map(
                "map_485b9574ff624b6486851bc61c2f071e",
                {
                    center: [47.47, -121.84],
                    crs: L.CRS.EPSG3857,
                    zoom: 9.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5063d43e01104cbdbe9ad5db660c8b7f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_485b9574ff624b6486851bc61c2f071e);
        
    

        function geo_json_4069d6b2c5134b9a926fce29a600a3f9_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_4069d6b2c5134b9a926fce29a600a3f9 = L.geoJson(null, {
                onEachFeature: geo_json_4069d6b2c5134b9a926fce29a600a3f9_onEachFeature,
            
        });

        function geo_json_4069d6b2c5134b9a926fce29a600a3f9_add (data) {
            geo_json_4069d6b2c5134b9a926fce29a600a3f9
                .addData(data)
                .addTo(map_485b9574ff624b6486851bc61c2f071e);
        }
            geo_json_4069d6b2c5134b9a926fce29a600a3f9_add({"geometry": {"coordinates": [[[[-121.234173, 47.778881], [-121.119157, 47.778881], [-121.11368, 47.598142], [-121.11368, 47.598142], [-121.38205, 47.088787], [-122.417192, 47.318818], [-122.395284, 47.778881], [-121.234173, 47.778881]]], [[[-122.537684, 47.357157], [-122.537684, 47.400973], [-122.482915, 47.510511], [-122.537684, 47.357157]]]], "type": "MultiPolygon"}, "id": "53033", "properties": {"name": "King"}, "type": "Feature"});

        
    
            var marker_0b52baac38184100a06166c1480909f1 = L.marker(
                [47.7198, -122.193],
                {}
            ).addTo(map_485b9574ff624b6486851bc61c2f071e);
        
    
        var popup_4af55058b78a4dbda5f71fd5b25d6174 = L.popup({"maxWidth": 125});

        
            var i_frame_2b4764cb67af4a74b1917f5db23670ad = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDY3MjA8YnI+TiBmbG9vcnM6IDEuMDxicj5OIGJlZHM6IDM8YnI+TiBiYXRoOiAxLjc1PC9pPg==" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_4af55058b78a4dbda5f71fd5b25d6174.setContent(i_frame_2b4764cb67af4a74b1917f5db23670ad);
        

        marker_0b52baac38184100a06166c1480909f1.bindPopup(popup_4af55058b78a4dbda5f71fd5b25d6174)
        ;

        
    
    
            marker_0b52baac38184100a06166c1480909f1.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_397ae96b0bba456a80254204cb44ba9e = L.marker(
                [47.7689, -122.266],
                {}
            ).addTo(map_485b9574ff624b6486851bc61c2f071e);
        
    
        var popup_6334e6f4c67d4f0ab9d1cab784fa441b = L.popup({"maxWidth": 125});

        
            var i_frame_9a6bb216af8048368350b31cda80599b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDEwMDAyPGJyPk4gZmxvb3JzOiAxLjA8YnI+TiBiZWRzOiA0PGJyPk4gYmF0aDogMi4yNTwvaT4=" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_6334e6f4c67d4f0ab9d1cab784fa441b.setContent(i_frame_9a6bb216af8048368350b31cda80599b);
        

        marker_397ae96b0bba456a80254204cb44ba9e.bindPopup(popup_6334e6f4c67d4f0ab9d1cab784fa441b)
        ;

        
    
    
            marker_397ae96b0bba456a80254204cb44ba9e.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7cff1ba0d3f3477eafc3a3807b79c142 = L.marker(
                [47.6221, -122.314],
                {}
            ).addTo(map_485b9574ff624b6486851bc61c2f071e);
        
    
        var popup_47b7bfe44c314b7db9f6d75868d1b68e = L.popup({"maxWidth": 125});

        
            var i_frame_3caf10e11044449e92e316bb1ae71c24 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDE1ODE8YnI+TiBmbG9vcnM6IDEuNTxicj5OIGJlZHM6IDM8YnI+TiBiYXRoOiAxLjA8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_47b7bfe44c314b7db9f6d75868d1b68e.setContent(i_frame_3caf10e11044449e92e316bb1ae71c24);
        

        marker_7cff1ba0d3f3477eafc3a3807b79c142.bindPopup(popup_47b7bfe44c314b7db9f6d75868d1b68e)
        ;

        
    
    
            marker_7cff1ba0d3f3477eafc3a3807b79c142.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bf8d85fa222b4e5e9c437867f815a37c = L.marker(
                [47.5502, -122.311],
                {}
            ).addTo(map_485b9574ff624b6486851bc61c2f071e);
        
    
        var popup_401d95ebb1684c31b811fc119838a750 = L.popup({"maxWidth": 125});

        
            var i_frame_0e134768c1e54df58c6cdcd47f3ce76b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDU0NDU8YnI+TiBmbG9vcnM6IDEuNTxicj5OIGJlZHM6IDU8YnI+TiBiYXRoOiAzLjA8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_401d95ebb1684c31b811fc119838a750.setContent(i_frame_0e134768c1e54df58c6cdcd47f3ce76b);
        

        marker_bf8d85fa222b4e5e9c437867f815a37c.bindPopup(popup_401d95ebb1684c31b811fc119838a750)
        ;

        
    
    
            marker_bf8d85fa222b4e5e9c437867f815a37c.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_11e76798e6bf49748e2e7b9bd23b3768 = L.marker(
                [47.5815, -122.192],
                {}
            ).addTo(map_485b9574ff624b6486851bc61c2f071e);
        
    
        var popup_1f63455fe8444e46b615929d0d57136f = L.popup({"maxWidth": 125});

        
            var i_frame_1f73faeeb6d04a0085331ab4a6ea4bd8 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDExMDQ5PGJyPk4gZmxvb3JzOiAyLjA8YnI+TiBiZWRzOiA0PGJyPk4gYmF0aDogMi41PC9pPg==" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_1f63455fe8444e46b615929d0d57136f.setContent(i_frame_1f73faeeb6d04a0085331ab4a6ea4bd8);
        

        marker_11e76798e6bf49748e2e7b9bd23b3768.bindPopup(popup_1f63455fe8444e46b615929d0d57136f)
        ;

        
    
    
            marker_11e76798e6bf49748e2e7b9bd23b3768.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_82f3e003265d440a977cc0edf160b829 = L.marker(
                [47.6972, -122.35],
                {}
            ).addTo(map_485b9574ff624b6486851bc61c2f071e);
        
    
        var popup_dc719727e9c84df7b9074d8c545c413f = L.popup({"maxWidth": 125});

        
            var i_frame_387f68e7f06f4d84b390f60d85503c13 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDE3NjA8YnI+TiBmbG9vcnM6IDMuMDxicj5OIGJlZHM6IDI8YnI+TiBiYXRoOiAyLjU8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_dc719727e9c84df7b9074d8c545c413f.setContent(i_frame_387f68e7f06f4d84b390f60d85503c13);
        

        marker_82f3e003265d440a977cc0edf160b829.bindPopup(popup_dc719727e9c84df7b9074d8c545c413f)
        ;

        
    
    
            marker_82f3e003265d440a977cc0edf160b829.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3867cd0ed2c94c4eb96cbb12e22eb46f = L.marker(
                [47.7345, -122.285],
                {}
            ).addTo(map_485b9574ff624b6486851bc61c2f071e);
        
    
        var popup_6b2c2aa6d8704f5dbcdf91e301ba5c4d = L.popup({"maxWidth": 125});

        
            var i_frame_1c774b04ceca434b885f566c84b26cfe = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDcxNTU8YnI+TiBmbG9vcnM6IDIuMDxicj5OIGJlZHM6IDI8YnI+TiBiYXRoOiAyLjU8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_6b2c2aa6d8704f5dbcdf91e301ba5c4d.setContent(i_frame_1c774b04ceca434b885f566c84b26cfe);
        

        marker_3867cd0ed2c94c4eb96cbb12e22eb46f.bindPopup(popup_6b2c2aa6d8704f5dbcdf91e301ba5c4d)
        ;

        
    
    
            marker_3867cd0ed2c94c4eb96cbb12e22eb46f.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_85a6684b412642589160e624b3566cb6 = L.marker(
                [47.3658, -122.148],
                {}
            ).addTo(map_485b9574ff624b6486851bc61c2f071e);
        
    
        var popup_8477d949fe7d474ba7360d1485c48ccc = L.popup({"maxWidth": 125});

        
            var i_frame_ffd9de69cd5a4b86935f8737632f2ee6 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDE0ODIxPGJyPk4gZmxvb3JzOiAxLjA8YnI+TiBiZWRzOiAzPGJyPk4gYmF0aDogMS41PC9pPg==" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_8477d949fe7d474ba7360d1485c48ccc.setContent(i_frame_ffd9de69cd5a4b86935f8737632f2ee6);
        

        marker_85a6684b412642589160e624b3566cb6.bindPopup(popup_8477d949fe7d474ba7360d1485c48ccc)
        ;

        
    
    
            marker_85a6684b412642589160e624b3566cb6.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1f2109cd757f4e6eb91c844127882a3e = L.marker(
                [47.6495, -122.198],
                {}
            ).addTo(map_485b9574ff624b6486851bc61c2f071e);
        
    
        var popup_780337be7acc4c7f8fc32d22bdb3d8a5 = L.popup({"maxWidth": 125});

        
            var i_frame_ab58230e965946b6bc5db102139b0919 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDg2MTY8YnI+TiBmbG9vcnM6IDIuMDxicj5OIGJlZHM6IDQ8YnI+TiBiYXRoOiAyLjI1PC9pPg==" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_780337be7acc4c7f8fc32d22bdb3d8a5.setContent(i_frame_ab58230e965946b6bc5db102139b0919);
        

        marker_1f2109cd757f4e6eb91c844127882a3e.bindPopup(popup_780337be7acc4c7f8fc32d22bdb3d8a5)
        ;

        
    
    
            marker_1f2109cd757f4e6eb91c844127882a3e.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b647f7558baa4947bc88aaa309d12cd1 = L.marker(
                [47.6675, -122.289],
                {}
            ).addTo(map_485b9574ff624b6486851bc61c2f071e);
        
    
        var popup_77916a54614b446792ff230c15334347 = L.popup({"maxWidth": 125});

        
            var i_frame_147ae6edb0eb4a76bab1a3222ec01cd8 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDQwMDA8YnI+TiBmbG9vcnM6IDIuMDxicj5OIGJlZHM6IDM8YnI+TiBiYXRoOiAxLjc1PC9pPg==" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_77916a54614b446792ff230c15334347.setContent(i_frame_147ae6edb0eb4a76bab1a3222ec01cd8);
        

        marker_b647f7558baa4947bc88aaa309d12cd1.bindPopup(popup_77916a54614b446792ff230c15334347)
        ;

        
    
    
            marker_b647f7558baa4947bc88aaa309d12cd1.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
</script>