<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_847ba56466da4b7ebb03fe52b7551ba7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_847ba56466da4b7ebb03fe52b7551ba7" ></div>
        
</body>
<script>    
    
            var map_847ba56466da4b7ebb03fe52b7551ba7 = L.map(
                "map_847ba56466da4b7ebb03fe52b7551ba7",
                {
                    center: [47.47, -121.84],
                    crs: L.CRS.EPSG3857,
                    zoom: 9.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2aefba54e3f545ef96a2172063a56af9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_847ba56466da4b7ebb03fe52b7551ba7);
        
    

        function geo_json_f041016f403e4810ba3b9202e037d3a6_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_f041016f403e4810ba3b9202e037d3a6 = L.geoJson(null, {
                onEachFeature: geo_json_f041016f403e4810ba3b9202e037d3a6_onEachFeature,
            
        });

        function geo_json_f041016f403e4810ba3b9202e037d3a6_add (data) {
            geo_json_f041016f403e4810ba3b9202e037d3a6
                .addData(data)
                .addTo(map_847ba56466da4b7ebb03fe52b7551ba7);
        }
            geo_json_f041016f403e4810ba3b9202e037d3a6_add({"geometry": {"coordinates": [[[[-121.234173, 47.778881], [-121.119157, 47.778881], [-121.11368, 47.598142], [-121.11368, 47.598142], [-121.38205, 47.088787], [-122.417192, 47.318818], [-122.395284, 47.778881], [-121.234173, 47.778881]]], [[[-122.537684, 47.357157], [-122.537684, 47.400973], [-122.482915, 47.510511], [-122.537684, 47.357157]]]], "type": "MultiPolygon"}, "id": "53033", "properties": {"name": "King"}, "type": "Feature"});

        
    
            var marker_ff1dbcd28c114a32ab616e96e7fd7018 = L.marker(
                [47.6918, -122.163],
                {}
            ).addTo(map_847ba56466da4b7ebb03fe52b7551ba7);
        
    
        var popup_046e59cd87c34228b7aaebbea5f74f20 = L.popup({"maxWidth": 125});

        
            var i_frame_3f6adbf427894723bac21c4eefd894f1 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDk2MDA8YnI+TiBmbG9vcnM6IDEuMDxicj5OIGJlZHM6IDM8YnI+TiBiYXRoOiAxLjU8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_046e59cd87c34228b7aaebbea5f74f20.setContent(i_frame_3f6adbf427894723bac21c4eefd894f1);
        

        marker_ff1dbcd28c114a32ab616e96e7fd7018.bindPopup(popup_046e59cd87c34228b7aaebbea5f74f20)
        ;

        
    
    
            marker_ff1dbcd28c114a32ab616e96e7fd7018.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a366d17e859649558bfc0c69aa718d51 = L.marker(
                [47.7502, -122.108],
                {}
            ).addTo(map_847ba56466da4b7ebb03fe52b7551ba7);
        
    
        var popup_f6f32bd980014ede84771c6221c7bbbc = L.popup({"maxWidth": 125});

        
            var i_frame_c8ec5096d97647d3b9ed982caf49c23e = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDE3MzgwPGJyPk4gZmxvb3JzOiAxLjA8YnI+TiBiZWRzOiAzPGJyPk4gYmF0aDogMS4wPC9pPg==" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_f6f32bd980014ede84771c6221c7bbbc.setContent(i_frame_c8ec5096d97647d3b9ed982caf49c23e);
        

        marker_a366d17e859649558bfc0c69aa718d51.bindPopup(popup_f6f32bd980014ede84771c6221c7bbbc)
        ;

        
    
    
            marker_a366d17e859649558bfc0c69aa718d51.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b83b4fb190a344a6b608542969a88644 = L.marker(
                [47.7356, -122.157],
                {}
            ).addTo(map_847ba56466da4b7ebb03fe52b7551ba7);
        
    
        var popup_8baa9ee07d3e4b80b8f6ded98e8188aa = L.popup({"maxWidth": 125});

        
            var i_frame_a2d5e52da9dd46f4b561cfb536395cee = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDM2NDA8YnI+TiBmbG9vcnM6IDIuMDxicj5OIGJlZHM6IDM8YnI+TiBiYXRoOiAyLjU8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_8baa9ee07d3e4b80b8f6ded98e8188aa.setContent(i_frame_a2d5e52da9dd46f4b561cfb536395cee);
        

        marker_b83b4fb190a344a6b608542969a88644.bindPopup(popup_8baa9ee07d3e4b80b8f6ded98e8188aa)
        ;

        
    
    
            marker_b83b4fb190a344a6b608542969a88644.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dac16c2136be4d3cab105bb8673b0632 = L.marker(
                [47.4579, -122.09],
                {}
            ).addTo(map_847ba56466da4b7ebb03fe52b7551ba7);
        
    
        var popup_be42da29bae1451082d2b2824f906c3e = L.popup({"maxWidth": 125});

        
            var i_frame_859d8d86e2c84483aaa3c06bcf5c0eed = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDE0MTEwPGJyPk4gZmxvb3JzOiAxLjA8YnI+TiBiZWRzOiAzPGJyPk4gYmF0aDogMS4wPC9pPg==" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_be42da29bae1451082d2b2824f906c3e.setContent(i_frame_859d8d86e2c84483aaa3c06bcf5c0eed);
        

        marker_dac16c2136be4d3cab105bb8673b0632.bindPopup(popup_be42da29bae1451082d2b2824f906c3e)
        ;

        
    
    
            marker_dac16c2136be4d3cab105bb8673b0632.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a25a134923ad4f34a75e7864eae902fe = L.marker(
                [47.6255, -122.314],
                {}
            ).addTo(map_847ba56466da4b7ebb03fe52b7551ba7);
        
    
        var popup_6b4839135d8945ff882bf665f4cedb8e = L.popup({"maxWidth": 125});

        
            var i_frame_126f735ee98e4bcba195d7231caa28be = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDYxMDU8YnI+TiBmbG9vcnM6IDIuMDxicj5OIGJlZHM6IDQ8YnI+TiBiYXRoOiAyLjI1PC9pPg==" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_6b4839135d8945ff882bf665f4cedb8e.setContent(i_frame_126f735ee98e4bcba195d7231caa28be);
        

        marker_a25a134923ad4f34a75e7864eae902fe.bindPopup(popup_6b4839135d8945ff882bf665f4cedb8e)
        ;

        
    
    
            marker_a25a134923ad4f34a75e7864eae902fe.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2c3364788f984149bbdbf718b4f98b48 = L.marker(
                [47.7502, -122.108],
                {}
            ).addTo(map_847ba56466da4b7ebb03fe52b7551ba7);
        
    
        var popup_322fd75d44924f48b8530cdac8f4c965 = L.popup({"maxWidth": 125});

        
            var i_frame_ed5b1deed5804d0b9a482d378f3795bf = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDE3MzgwPGJyPk4gZmxvb3JzOiAxLjA8YnI+TiBiZWRzOiAzPGJyPk4gYmF0aDogMS4wPC9pPg==" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_322fd75d44924f48b8530cdac8f4c965.setContent(i_frame_ed5b1deed5804d0b9a482d378f3795bf);
        

        marker_2c3364788f984149bbdbf718b4f98b48.bindPopup(popup_322fd75d44924f48b8530cdac8f4c965)
        ;

        
    
    
            marker_2c3364788f984149bbdbf718b4f98b48.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_79ecacdec31c4fac9567edd8642f8468 = L.marker(
                [47.597, -122.059],
                {}
            ).addTo(map_847ba56466da4b7ebb03fe52b7551ba7);
        
    
        var popup_308758071b3247e9aa302042cb93780f = L.popup({"maxWidth": 125});

        
            var i_frame_64031777b5434440b4d3880256623064 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDU3MDAwPGJyPk4gZmxvb3JzOiAxLjA8YnI+TiBiZWRzOiAyPGJyPk4gYmF0aDogMS4wPC9pPg==" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_308758071b3247e9aa302042cb93780f.setContent(i_frame_64031777b5434440b4d3880256623064);
        

        marker_79ecacdec31c4fac9567edd8642f8468.bindPopup(popup_308758071b3247e9aa302042cb93780f)
        ;

        
    
    
            marker_79ecacdec31c4fac9567edd8642f8468.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_48ceb39b9b984352ba366775021d39e2 = L.marker(
                [47.526, -122.361],
                {}
            ).addTo(map_847ba56466da4b7ebb03fe52b7551ba7);
        
    
        var popup_98905bd2d00243caaa15d24fd5b68472 = L.popup({"maxWidth": 125});

        
            var i_frame_6be923fa07624dabbf0cde5995c0bd6f = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDEzNDA8YnI+TiBmbG9vcnM6IDIuMDxicj5OIGJlZHM6IDM8YnI+TiBiYXRoOiAyLjA8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_98905bd2d00243caaa15d24fd5b68472.setContent(i_frame_6be923fa07624dabbf0cde5995c0bd6f);
        

        marker_48ceb39b9b984352ba366775021d39e2.bindPopup(popup_98905bd2d00243caaa15d24fd5b68472)
        ;

        
    
    
            marker_48ceb39b9b984352ba366775021d39e2.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_daca669789dc4428acdc2bb2ad44b0b8 = L.marker(
                [47.3272, -122.355],
                {}
            ).addTo(map_847ba56466da4b7ebb03fe52b7551ba7);
        
    
        var popup_70f5005b3c01468b9f96742e7abfdece = L.popup({"maxWidth": 125});

        
            var i_frame_872798c9dfa747b0bc3c3c0b42edb5e9 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDE0MjUwPGJyPk4gZmxvb3JzOiAxLjA8YnI+TiBiZWRzOiAzPGJyPk4gYmF0aDogMS43NTwvaT4=" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_70f5005b3c01468b9f96742e7abfdece.setContent(i_frame_872798c9dfa747b0bc3c3c0b42edb5e9);
        

        marker_daca669789dc4428acdc2bb2ad44b0b8.bindPopup(popup_70f5005b3c01468b9f96742e7abfdece)
        ;

        
    
    
            marker_daca669789dc4428acdc2bb2ad44b0b8.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_55d4d23f99fd4c159f0fcaf591444f5b = L.marker(
                [47.6583, -122.351],
                {}
            ).addTo(map_847ba56466da4b7ebb03fe52b7551ba7);
        
    
        var popup_9b11a28d64744f25960d7d61389c8eab = L.popup({"maxWidth": 125});

        
            var i_frame_cf98be8600e143399cb5cb27370214b4 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDQ4MDA8YnI+TiBmbG9vcnM6IDIuMDxicj5OIGJlZHM6IDQ8YnI+TiBiYXRoOiAxLjA8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_9b11a28d64744f25960d7d61389c8eab.setContent(i_frame_cf98be8600e143399cb5cb27370214b4);
        

        marker_55d4d23f99fd4c159f0fcaf591444f5b.bindPopup(popup_9b11a28d64744f25960d7d61389c8eab)
        ;

        
    
    
            marker_55d4d23f99fd4c159f0fcaf591444f5b.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
</script>