<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_46f549856baa4096aa61cc69c7d2d7b2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_46f549856baa4096aa61cc69c7d2d7b2" ></div>
        
</body>
<script>    
    
            var map_46f549856baa4096aa61cc69c7d2d7b2 = L.map(
                "map_46f549856baa4096aa61cc69c7d2d7b2",
                {
                    center: [47.47, -121.84],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f0b3600d4ec040d1b0e3ffa3eb227f79 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_46f549856baa4096aa61cc69c7d2d7b2);
        
    

        function geo_json_35bf7e24a56d4d018167367e8feb277c_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_35bf7e24a56d4d018167367e8feb277c = L.geoJson(null, {
                onEachFeature: geo_json_35bf7e24a56d4d018167367e8feb277c_onEachFeature,
            
        });

        function geo_json_35bf7e24a56d4d018167367e8feb277c_add (data) {
            geo_json_35bf7e24a56d4d018167367e8feb277c
                .addData(data)
                .addTo(map_46f549856baa4096aa61cc69c7d2d7b2);
        }
            geo_json_35bf7e24a56d4d018167367e8feb277c_add({"geometry": {"coordinates": [[[[-121.234173, 47.778881], [-121.119157, 47.778881], [-121.11368, 47.598142], [-121.11368, 47.598142], [-121.38205, 47.088787], [-122.417192, 47.318818], [-122.395284, 47.778881], [-121.234173, 47.778881]]], [[[-122.537684, 47.357157], [-122.537684, 47.400973], [-122.482915, 47.510511], [-122.537684, 47.357157]]]], "type": "MultiPolygon"}, "id": "53033", "properties": {"name": "King"}, "type": "Feature"});

        
    
            var marker_d7a0ad14795741918b929f0f093dd311 = L.marker(
                [47.7731, -122.08],
                {}
            ).addTo(map_46f549856baa4096aa61cc69c7d2d7b2);
        
    
        var popup_66278788019a4b7d8dceb327a8c06bea = L.popup({"maxWidth": 120});

        
            var i_frame_302c7f52fae74f2eb86236b721303efd = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDEwNzU5Mzxicj5OIGZsb29yczogMi4wPGJyPk4gYmVkczogMzxicj5OIGJhdGg6IDIuMjU8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_66278788019a4b7d8dceb327a8c06bea.setContent(i_frame_302c7f52fae74f2eb86236b721303efd);
        

        marker_d7a0ad14795741918b929f0f093dd311.bindPopup(popup_66278788019a4b7d8dceb327a8c06bea)
        ;

        
    
    
            marker_d7a0ad14795741918b929f0f093dd311.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1c8403ea79144a67b1fb37686f0a4277 = L.marker(
                [47.3717, -122.104],
                {}
            ).addTo(map_46f549856baa4096aa61cc69c7d2d7b2);
        
    
        var popup_a5d18e85439c483d87caaf5d7df1c22c = L.popup({"maxWidth": 120});

        
            var i_frame_177633f3f8834d2d9e9e67e959158aa5 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDU3NTE8YnI+TiBmbG9vcnM6IDIuMDxicj5OIGJlZHM6IDU8YnI+TiBiYXRoOiAyLjU8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_a5d18e85439c483d87caaf5d7df1c22c.setContent(i_frame_177633f3f8834d2d9e9e67e959158aa5);
        

        marker_1c8403ea79144a67b1fb37686f0a4277.bindPopup(popup_a5d18e85439c483d87caaf5d7df1c22c)
        ;

        
    
    
            marker_1c8403ea79144a67b1fb37686f0a4277.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a6ac61d980f8463e94eaf38c477b4e49 = L.marker(
                [47.6163, -122.292],
                {}
            ).addTo(map_46f549856baa4096aa61cc69c7d2d7b2);
        
    
        var popup_d0146506290d4c62a6a55736580781dd = L.popup({"maxWidth": 120});

        
            var i_frame_bd0253647b6642dab88521fe802832ac = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDM0MDA8YnI+TiBmbG9vcnM6IDEuNTxicj5OIGJlZHM6IDM8YnI+TiBiYXRoOiAxLjU8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_d0146506290d4c62a6a55736580781dd.setContent(i_frame_bd0253647b6642dab88521fe802832ac);
        

        marker_a6ac61d980f8463e94eaf38c477b4e49.bindPopup(popup_d0146506290d4c62a6a55736580781dd)
        ;

        
    
    
            marker_a6ac61d980f8463e94eaf38c477b4e49.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2cc0b5c02ac24571aeed6173ba408c8a = L.marker(
                [47.5042, -122.265],
                {}
            ).addTo(map_46f549856baa4096aa61cc69c7d2d7b2);
        
    
        var popup_a63b2d8d16cb4921ae18acedc388a676 = L.popup({"maxWidth": 120});

        
            var i_frame_c624a2ef76e44a0abdd78e0d417245e6 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDc0MjY8YnI+TiBmbG9vcnM6IDEuMDxicj5OIGJlZHM6IDQ8YnI+TiBiYXRoOiAzLjA8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_a63b2d8d16cb4921ae18acedc388a676.setContent(i_frame_c624a2ef76e44a0abdd78e0d417245e6);
        

        marker_2cc0b5c02ac24571aeed6173ba408c8a.bindPopup(popup_a63b2d8d16cb4921ae18acedc388a676)
        ;

        
    
    
            marker_2cc0b5c02ac24571aeed6173ba408c8a.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_79a1497c81b84a37b69db7f95bbde5e0 = L.marker(
                [47.6645, -122.325],
                {}
            ).addTo(map_46f549856baa4096aa61cc69c7d2d7b2);
        
    
        var popup_2e8752ba15a641c28ec76586ed3d3768 = L.popup({"maxWidth": 120});

        
            var i_frame_466c149e36b14c8d9449188c1e90d5dd = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDQwODA8YnI+TiBmbG9vcnM6IDEuNTxicj5OIGJlZHM6IDQ8YnI+TiBiYXRoOiAyLjA8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_2e8752ba15a641c28ec76586ed3d3768.setContent(i_frame_466c149e36b14c8d9449188c1e90d5dd);
        

        marker_79a1497c81b84a37b69db7f95bbde5e0.bindPopup(popup_2e8752ba15a641c28ec76586ed3d3768)
        ;

        
    
    
            marker_79a1497c81b84a37b69db7f95bbde5e0.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a3767c915e2f4ecea0829e7f22fc7680 = L.marker(
                [47.5038, -122.379],
                {}
            ).addTo(map_46f549856baa4096aa61cc69c7d2d7b2);
        
    
        var popup_c799b460f60243f4be14ef2caa62803c = L.popup({"maxWidth": 120});

        
            var i_frame_a37411494d83423ca5bb6745f3c9b1ba = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDk0MjU8YnI+TiBmbG9vcnM6IDEuMDxicj5OIGJlZHM6IDM8YnI+TiBiYXRoOiAxLjc1PC9pPg==" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_c799b460f60243f4be14ef2caa62803c.setContent(i_frame_a37411494d83423ca5bb6745f3c9b1ba);
        

        marker_a3767c915e2f4ecea0829e7f22fc7680.bindPopup(popup_c799b460f60243f4be14ef2caa62803c)
        ;

        
    
    
            marker_a3767c915e2f4ecea0829e7f22fc7680.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a46779cd83414452bf8449ab64dd31d0 = L.marker(
                [47.5815, -122.402],
                {}
            ).addTo(map_46f549856baa4096aa61cc69c7d2d7b2);
        
    
        var popup_6af10f52b5f34e1ba45f785e508f1b42 = L.popup({"maxWidth": 120});

        
            var i_frame_c49d39ba0b664b37b857ca85797b13cd = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDIwMDA8YnI+TiBmbG9vcnM6IDIuMDxicj5OIGJlZHM6IDM8YnI+TiBiYXRoOiAzLjI1PC9pPg==" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_6af10f52b5f34e1ba45f785e508f1b42.setContent(i_frame_c49d39ba0b664b37b857ca85797b13cd);
        

        marker_a46779cd83414452bf8449ab64dd31d0.bindPopup(popup_6af10f52b5f34e1ba45f785e508f1b42)
        ;

        
    
    
            marker_a46779cd83414452bf8449ab64dd31d0.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_98c27cb476c44b5e8c61c0da2227ba5e = L.marker(
                [47.7599, -122.343],
                {}
            ).addTo(map_46f549856baa4096aa61cc69c7d2d7b2);
        
    
        var popup_0d544b3d3f5a479782349ec8da0d4c35 = L.popup({"maxWidth": 120});

        
            var i_frame_b22181b9a30b4c53afc1cadaf50e3df4 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDEyMDAwPGJyPk4gZmxvb3JzOiAxLjA8YnI+TiBiZWRzOiAzPGJyPk4gYmF0aDogMS43NTwvaT4=" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_0d544b3d3f5a479782349ec8da0d4c35.setContent(i_frame_b22181b9a30b4c53afc1cadaf50e3df4);
        

        marker_98c27cb476c44b5e8c61c0da2227ba5e.bindPopup(popup_0d544b3d3f5a479782349ec8da0d4c35)
        ;

        
    
    
            marker_98c27cb476c44b5e8c61c0da2227ba5e.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_62d1b36d35e74852aae9ae5b8447b48c = L.marker(
                [47.5427, -122.288],
                {}
            ).addTo(map_46f549856baa4096aa61cc69c7d2d7b2);
        
    
        var popup_a8a1e00ed9984fbd8de9f7bcd9c0e526 = L.popup({"maxWidth": 120});

        
            var i_frame_f4ba15b3ea9f4ecba988a0caac79e54a = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDcxNDA8YnI+TiBmbG9vcnM6IDEuMDxicj5OIGJlZHM6IDM8YnI+TiBiYXRoOiAxLjA8L2k+" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_a8a1e00ed9984fbd8de9f7bcd9c0e526.setContent(i_frame_f4ba15b3ea9f4ecba988a0caac79e54a);
        

        marker_62d1b36d35e74852aae9ae5b8447b48c.bindPopup(popup_a8a1e00ed9984fbd8de9f7bcd9c0e526)
        ;

        
    
    
            marker_62d1b36d35e74852aae9ae5b8447b48c.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b6d42563edd84d8989da4132bad229fd = L.marker(
                [47.597, -122.059],
                {}
            ).addTo(map_46f549856baa4096aa61cc69c7d2d7b2);
        
    
        var popup_ef5bd9196d3d4d36b00782bc7ed49e52 = L.popup({"maxWidth": 120});

        
            var i_frame_026a87e848a64e519f739e408ca8126c = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aSBzdHlsZT0nZm9udC1mYW1pbHk6IEhlbHZldGljYSwgc2Fucy1zZXJpZjsnPlNxZnQ6IDU3MDAwPGJyPk4gZmxvb3JzOiAxLjA8YnI+TiBiZWRzOiAyPGJyPk4gYmF0aDogMS4wPC9pPg==" width="125" style="border:none !important;" height="100"></iframe>`)[0];
            popup_ef5bd9196d3d4d36b00782bc7ed49e52.setContent(i_frame_026a87e848a64e519f739e408ca8126c);
        

        marker_b6d42563edd84d8989da4132bad229fd.bindPopup(popup_ef5bd9196d3d4d36b00782bc7ed49e52)
        ;

        
    
    
            marker_b6d42563edd84d8989da4132bad229fd.bindTooltip(
                `<div>
                     Click for house stats
                 </div>`,
                {"sticky": true}
            );
        
</script>